.container {
  background: linear-gradient(104deg, #1e0505 2%,#380400 27%,#800000 68%,#cc2c00 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.image {
  width: 50%;
  margin-bottom: 48px;
}

.main {
  padding: 32px;
  max-width: 768px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 44px;
  color: #fefefe;
  margin-top: 0;
  margin-bottom: 32px;
}

.description {
  font-size: 16px;
  color: #fefefe;
  text-align: center;
  margin-top: 0;
  margin-bottom: 32px;
}

.liveCta {
  width: 300px;
  height: 48px;
  border: none;
  background: #00a5a5;
  color: white;
  font-size: 18px;
  font-weight: 700;
  transition: 300ms;
  margin-bottom: 8px;
}

.liveCta:hover, .liveCta:focus {
  transform: scale(1.05);
  background: #00857f;
  cursor: pointer;
}

.aodCta {
  width: 300px;
  height: 48px;
  border: none;
  background: #fa6400;
  color: white;
  font-size: 18px;
  font-weight: 700;
  transition: 300ms;
}

.aodCta:hover, .aodCta:focus {
  transform: scale(1.05);
  background: #d24712;
  cursor: pointer;
}
